#pcGrid {
    height: 250vh;
    width: 100%;
    background-color: #EE6E73;

}

.material-icons.menuBar {
    color: black  ;
}
.material-icons.menuBar:hover {
    cursor: pointer;
}

#addComputerModal:hover {
    cursor: pointer;
}

.addComputerGrid {
    cursor: pointer;
}
.createComputerDiv {
    position: relative;
}
.closeComputerGrid {
    position: absolute;
    top: 5%;
    left: 1%;
    cursor: pointer;
}
 #pcGrid.col.s2 {
    color: black;
}

#pcGrid > div> i.tiny.material-icons.isAvailableGrid {
    color: green;
}
#addTimeModalMain > ul {
    padding: 10px;
}
#addTimeModalMain > ul > li {
    padding: 10px;
    margin-top: 2px;
    font-size: 20px;
    color: red;
    border: 1px solid black;
}
.addTimeButtonModal {
    margin-left: 20%;
}
.usernameInGrid {
    position: absolute;
    top: 67%;
    left: 20%;
    text-align: justify;
    font-weight: 600;
    color: white;

}
